body {
	background-color: lightblue;
}

#stock-chart {
	text-align: center;
}

#stock-chart svg {
	background-color: white;
	display: block;
	margin: auto;
}

#stock-symbol-div {
	height: 50px;
	width: 450px;
	display: block;
	margin: auto;
	font-size: 20px;
	padding-left: 50px;
	padding-top: 15px;
	border-left: 5px solid purple;
	background-color: lightgrey;
	margin-top: 5px;
	margin-bottom: 5px;
}

#delete-stock-btn {
	background-color: purple;
	font-size: 45px;
	color: lightgrey;
	height: 50px;
	width: 50px;
	float: right;
	margin-right: 25px;
}

#delete-stock-form {
	display: inline;
}