<html>
<head>
	<title>Stock Market Tracker App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
</head>
<body>
	<h1 id="page-title">Stock Market Tracker App</h1>

	<form id="search-stock-data" action="/getStockData" method="post">
		<input id="stock-symbol" name="searchStockSymbol" type="text">
		<input type="submit" value="Get Stock Data">
	</form>
	<% if(searchError) { %>
		<p><%= searchError %></p>
	<% } %>
	
	<div id="stock-chart"></svg>

	<script>
		<% if(stockData) { %>
			var data = [<%= stockData %>];

			var svg = d3.select('#stock-chart')
				.append('svg')
					.attr('height', 100)
					.attr('width', 500);

			svg.selectAll('circle')
				.data(data)
				.enter()
					.append('circle')
					.attr('cx', function(d, i) {
						return (i * 50);
					})
					.attr('cy', function(d, i) {
						console.log(data[i]);
						return data[i] / 10;
					})
					.attr('r', 10);
		<% } %>
	</script>
</body>
</html>