<html>
<head>
	<title>Stock Market Tracker App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
</head>
<body>
	<div id="stock-chart">
		<h1 id="page-title">Stock Market Tracker App</h1>

		<form id="search-stock-data" action="/getStockData" method="post">
			<input id="stock-symbol" name="searchStockSymbol" type="text">
			<input type="submit" value="Get Stock Data">
		</form>
		<% if(searchError) { %>
			<p><%= searchError %></p>
		<% } %>
	</div>
	<div id="stock-symbol-container"></div>

	<script>
		var height = 600;
		var width = 500;

		var x = d3.time.scale().range([0, width]);
		var y = d3.scale.linear().range([0, height]);

		var svg = d3.select('#stock-chart')
			.append('svg')
				.attr('height', height)
				.attr('width', width);

		var drawLine = d3.svg.line()
			.x(function(d, i) { return ((i + 0.5) * 50); })
			.y(function(d, i) { return (height - (d / 2)); });

		var stockSymbolContainer = document.getElementById('stock-symbol-container');

		var stockSymbolDiv;
		var stockSymbolFormDiv;
		var stockSymbolForm;

		var stockArr = [];
		<% if(stocks) { %>
			<% for(var idx=0; idx < stocks.length; idx++) { %>
				var stockSymbol = '<%= stocks[idx].symbol %>';
				
				stockSymbolDiv = document.createElement('div');
				stockSymbolDiv.setAttribute('id', 'stock-symbol-div');
				stockSymbolDiv.innerHTML = 
					'<div id=\'stock-symbol-text\'>' +
					stockSymbol +
					'</div>';

				stockSymbolFormDiv = document.createElement('div');
				stockSymbolFormDiv.setAttribute('id', 'stock-symbol-form');
				stockSymbolFormDiv.innerHTML = 
					'<form id=\'delete-stock-form\' action=\'/deleteStockData\' method=\'post\'>' +
					'<input type=\'hidden\' name=\'symbol\' value=\'<%= stocks[idx].symbol %>\'>' +
					'<input id=\'delete-stock-btn\' type=\'submit\' value=\'X\'>' +
					'</form>';

				stockSymbolDiv.appendChild(stockSymbolFormDiv.firstChild);
				stockSymbolContainer.appendChild(stockSymbolDiv);

				var stockData = [<%= stocks[idx].data %>];

				stockArr.push(stockData);
				
				svg.append('path')
					.attr('class', 'line')
					.attr('d', drawLine(stockData))
					.attr('stroke-width', 1)
					.attr('stroke', 'black');

			<% } %>
			var scatterGroups = svg.selectAll('scatterPlotGroup')
					.data(stockArr)
					.enter()
						.append('g')
						.attr('class', 'scatterPlotGroup');

			scatterGroups.selectAll('circle')
					.data(function(d, i) { return d; })
					.enter()
						.append('circle')
						.attr('cx', function(d, i) {
							return ((i + 0.5) * 50);
						})
						.attr('cy', function(d) {
							console.log(d);
							return (height - (d / 2));
						})
						.attr('r', 3);
		<% } %>
	</script>
</body>
</html>