<html>
<head>
	<title>Stock Market Tracker App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js"></script>
</head>
<body>
	<h1 id="page-title">Stock Market Tracker App</h1>

	<form id="search-stock-data" action="/getStockData" method="post">
		<input id="stock-symbol" name="searchStockSymbol" type="text">
		<input type="submit" value="Get Stock Data">
	</form>
	<% if(searchError) { %>
		<p><%= searchError %></p>
	<% } %>
	
	<div id="stock-chart"></svg>

	<script>
		<% if(stockData) { %>
			var data = [<%= stockData %>];

			var x = d3.time.scale().range([0, 500]);
			var y = d3.scale.linear().range([1000, 0]);

			var drawLine = d3.svg.line()
				.x(function(d, i) { return (i * 50); })
				.y(function(d, i) { return (d / 10); });

			var svg = d3.select('#stock-chart')
				.append('svg')
					.attr('height', 1000)
					.attr('width', 500);

			svg.append('path')
				.attr('class', 'line')
				.attr('d', drawLine(data))
				.attr('stroke-width', 1)
				.attr('stroke', 'black');

			svg.selectAll('circle')
				.data(data)
				.enter()
					.append('circle')
					.attr('cx', function(d, i) {
						return (i * 50);
					})
					.attr('cy', function(d, i) {
						console.log(data[i]);
						return (data[i] / 10);
					})
					.attr('r', 3);
		<% } %>
	</script>
</body>
</html>